<!doctype html>
<html>
  <head>
    <title>Hi</title>
  </head>
  <body>
    <h3>Congratualations!</h3>
    <h2>You have a new friend!</h2>
    <a href="/">Go back to your friends page</a>
  </body>
</html>
